.nav {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-right: 10px;

  span {
    a {
      display: block;
      color: #285473;
      padding: 10px;
    }
  }
}

.activeLink {
  background-color: #e1e5eb;
  border-radius: 0px 10px 10px 0px;
  font-weight: 500;
}